@use '../custom' as *;
@use '../components/mixins' as *;

.lima-m {
  position: relative;
  padding: 1rem 0;

  &__content {
    padding: 1rem;
    margin-top: 1rem;
    @include media-breakpoint-up(lg) {
      margin-top: 6rem;
    }
  }

  &__img {
    max-width: 100%;
  }
}
